@model CadastroProdutos.Models.Produto

@{
    ViewData["Title"] = "CriarProduto";
}

<p id="Header">Cadastro de produto</p>
<hr />


<form asp-action="CriarProduto" asp-controller="Produtos">       
    <div style="display: table-row">
        <div style="width: 200px; display: table-cell;">
            <label asp-for="ProdutoId" class="control-label">Código</label>
            <input asp-for="ProdutoId " class="form-control" readonly="@(true)"/>
        </div>
        <div style="width: 30px; display: table-cell;">             
        </div>
         <div style="width: 1000px; display: table-cell;">
            <label asp-for="Descricao">Descrição</label>
            <input asp-for="Descricao" class="form-control"/>
        </div>
    </div>      
    
    <div style="display: table-row">
        <div style="width: 200px; display: table-cell;">
            <label asp-for="DefSituacaoProduto">Situação</label>
            <input asp-for="DefSituacaoProdutoId" class="form-control"/>
        </div> 
        <div style="width: 30px; display: table-cell;">             
        </div>
        <div style="width: 200px; display: table-cell;">
            <label asp-for="DefUnidadeComercial">Unidade estoque</label>
            <input asp-for="DefUnidadeComercialId" class="form-control"/>
        </div> 
        <div style="width: 30px; display: table-cell;">             
        </div>
        <div style="width: 200px; display: table-cell;">
            <label asp-for="PesoLiquido">Peso líquido (KG)</label>
            <input asp-for="PesoLiquido" class="form-control"/>
        </div>
    </div>
    <br>
    
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" id="BotaoVerde"/>    
        <a asp-action="Index" class="btn btn-primary" id="BotaoCinza">Voltar</a>
    </div>

</form>

