@model CadastroProdutos.Models.Produto

@{
    ViewData["Title"] = "CriarProduto";
}

<h1>CriarProduto</h1>

<h4>Produto</h4>
<hr />

<form asp-action="CriarProduto" asp-controller="Produtos">       
    <div>
        <label asp-for="Descricao">Descrição do produto</label>
        <input asp-for="Descricao" placeholder="Insira a descrição do produto" />
    </div>      
    <div>
        <label asp-for="DefSituacaoProduto">Situação do produto</label>
        <input asp-for="DefSituacaoProduto" placeholder="Insira a situação do produto" />
    </div>      
    <div>
        <label asp-for="DefUnidadeComercial">Unidade comercial do produto</label>
        <input asp-for="DefUnidadeComercial" placeholder="Insira a Unidade Comercial do produto" />
    </div>     
    <div>
        <label asp-for="PesoLiquido">Peso Líquido do produto</label>
        <input asp-for="PesoLiquido" placeholder="Insira Peso Líquido do produto" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>      
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
