@model CadastroProdutos.Models.Produto

@{
    ViewData["Title"] = "ExcluirProduto";

}
<p id="Header">Detalhe de produto</p>
<hr />

<div>
    <div style="display: table-row">
        <div style="width: 200px; display: table-cell;">
            <label asp-for="ProdutoId" class="control-label">Código</label>
            <input asp-for="ProdutoId " class="form-control" readonly="@(true)"/>
        </div>
        <div style="width: 30px; display: table-cell;">             
        </div>
         <div style="width: 1000px; display: table-cell;">
            <label asp-for="Descricao">Descrição</label>
            <input asp-for="Descricao" class="form-control" readonly="@(true)"/>
        </div>
    </div>      
    
    <div style="display: table-row">
        <div style="width: 200px; display: table-cell;">
            <label asp-for="DefSituacaoProduto">Situação</label>
            <select asp-for="DefSituacaoProdutoId" class="form-control" disabled>
                <option value="1">Ativo</option>
                <option value="2">Inativo</option>
                <option value="3">Bloqueado</option>
            </select>
        </div> 
        <div style="width: 30px; display: table-cell;">             
        </div>
        <div style="width: 200px; display: table-cell;">
            <label asp-for="DefUnidadeComercial">Unidade estoque</label>
            <select asp-for="DefUnidadeComercialId" class="form-control" disabled>
                <option value="1">CX - Caixa</option>
                <option value="2">KG - Quilograma</option>
                <option value="3">L - Litro</option>
                <option value="4">PC - Peça</option>
                <option value="5">PCT - Pacote</option>
                <option value="6">UN - Unidade</option>
            </select>
        </div> 
        <div style="width: 30px; display: table-cell;">             
        </div>
        <div style="width: 200px; display: table-cell;">
            <label asp-for="PesoLiquido">Peso líquido (KG)</label>
            <input asp-for="PesoLiquido" class="form-control" readonly="@(true)"/>
        </div>
    </div>
    <br>
    <a asp-action="Index" class="btn btn-primary" id="BotaoCinza">Voltar</a>
    
</div>
